footer {
	display: inline-block;
	color: white;
	width: 100%;
	font-size: 1em;
	margin: 0em;
	padding: 0em;
	background: black;
    margin-top: 3em;
}

footer * {
    vertical-align: middle;
    padding: 1.5em;
    display: inline-block;
}

footer a {
    padding: 0em;
    float: right;
}

footer img {
    height: 2em;
    padding: 1em;
}