footer {
	display: inline-block;
	color: var(--text);
	width: 100%;
	font-size: 1em;
	margin: 0em;
	padding: 0em;
	background: var(--header);
    margin-top: 3em;
}

footer * {
    vertical-align: middle;
    padding: 1.5em;
    display: inline-block;
}

footer a {
    padding: 0em;
    float: right;
}

footer img {
    height: 2em;
    padding: 1em;
}

@media only screen and (max-width: 900px) { /* Screen which has a maximum width of 900px */
    footer img {
        display: none;
    }

    footer span {
        width: 96%;
        padding-left: 2%;
        padding-right: 2%;
        text-align: center;
    }
}