.product {
	margin: 2em;
	margin-top: 0;
	width: 20em;
	height: 30em;
	background-color: rgba(255, 255, 255, 0.05);
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.prod-prev {
	width: 20em;
	height: 15em;
	object-fit: contain;
	margin: 0;
	padding: 0;
	margin-bottom: 1em;
}

.prod-title {
	max-width: 20em;
	margin: 0.5em;
	padding: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	color: #00FF40;
	font-size: 1.25em;
	font-weight: bold;
}

.prod-desc {
	width: 18em;
	max-height: 10em;
	margin: 0;
	padding: 1em;
	padding-top: 0;
}