body {
	padding: 0px;
	margin: 0px;
	font-family: Sans-serif;
	min-width: 40em;
	background-color: #121212;
	color: white;
}

img {
	padding: 10px
}

h1 { /*Site Title*/
    font-size: 2.25em;
	margin: 0px;
	-webkit-text-fill-color: white;
	text-fill-color: white;
	-webkit-text-stroke: 2px black;
	text-stroke: 2px black;
	vertical-align: middle;
	display: inline;
}

h2 { /*Page Title*/
    font-size: 2em;
    font-weight: bold;
	color: #00ff60;
	padding: 0.5em;
	padding-left: 0em;
	margin: 0px;
	padding-bottom: 0em;
}

h3 { /*Section Heading*/
    font-size: 1.5em;
	color: white;
	padding: 0.5em;
	margin: 0px;
    font-style: normal;
    text-align: center;
}

h4 { /*Sub-Section Heading*/
	font-size: 1.25em;
	color: white;
	padding: 0.5em;
	padding-left: 1em;
	margin: 0px;
}

p {
    font-size: 1em;
	color: white;
	padding: 0.5em;
	padding-left: 1em;
	margin: 0px;
}

p a {
    font-size: inherit;
	color: inherit;
	padding: 0em;
	margin: 0em;
    font-style: underline;
}

.content {
	width: 90%;
	padding: 0px;
	margin-left: 5%;
	margin-right: 5%;
}

.box {
	display: inline-block;
	padding: 1em;
	margin: 2em;
	text-decoration: none;
    width: 20em;
    height: 25em;
    background-color: #242424;
    text-align: left;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}