:root {
    --background: #121212;
    --surface: #242424;
    --header: #000000;
    --text: #ffffff;
    --primary: #00ff60;
    --secondary: #ff0060;
    --error: #ff6060;
    --link: #0060ff;
}

body {
	padding: 0px;
	margin: 0px;
	font-family: Sans-serif;
	min-width: 40em;
	background-color: #121212;
	color: var(--text);
}

img {
	padding: 10px
}

h1 { /*Site Title*/
    font-size: 2.25em;
	margin: 0px;
	-webkit-text-fill-color: var(--text);
	text-fill-color: var(--text);
	-webkit-text-stroke: 2px black;
	text-stroke: 2px black;
	vertical-align: middle;
	display: inline;
}

h2 { /*Page Title*/
    font-size: 2em;
    font-weight: bold;
	color: var(--primary);
	padding: 0.5em;
	padding-left: 0em;
	margin: 0px;
	padding-bottom: 0em;
}

h3 { /*Section Heading*/
    font-size: 2em;
	color: var(--text);
	padding: 0.5em;
    padding-bottom: 0em;
	margin: 0px;
    font-style: normal;
    text-align: left;
}

h4 { /*Box Heading*/
	font-size: 1.5em;
	color: var(--text);
	padding: 0.5em;
	margin: 0px;
    font-style: normal;
    text-align: center;
}

p {
    font-size: 1em;
	color: var(--text);
	padding: 0.5em;
	margin: 0px;
}

p a {
    font-size: inherit;
	color: var(--link);
	padding: 0em;
	margin: 0em;
    font-style: underline;
}

.content {
	width: 90%;
	padding: 0px;
	margin-left: 5%;
	margin-right: 5%;
}

.box {
	display: inline-block;
	padding: 1em;
	margin: 2em;
	text-decoration: none;
    width: 20em;
    height: 25em;
    background-color: var(--surface);
    text-align: left;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

::selection {
    background-color: var(--primary); /* WebKit/Blink Browsers */
    color: white;
}

::-moz-selection {
    background-color: var(--primary); /* Gecko Browsers */
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 0.75em;
    position: absolute;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 0.5em;
    /*border-style: solid;
    border-color: transparent;*/
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #505050;
}